@model IEnumerable<webshop.Models.Kunde>

@*@{
      Layout = "~/Views/Shared/_loginlayout.cshtml";
  }*@

<div id="log-in-box">
 
  <table>
    <tr>
      <th>
        Kunde Navn
      </th>
      <th>
        Kunde Adresse
      </th>
      <th>
        Kunde Epost
      </th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @item.Navn
        </td>
        <td>
          @item.Adresse
        </td>
        <td>
          @item.Epost
        </td>
        

      </tr>
    }
  </table>
    @Html.ActionLink("Become a registered customer", "../Kunde/registerCustomer")

    <h3>@ViewBag.logInMessage</h3>

</div>

@Html.ActionLink("Go to store without logging in.", "../Store/Index")