@model webshop.Models.Kunde
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@


    <div>
        @using(Html.BeginForm("registerCustomer", "Kunde")){
          @Html.ValidationSummary(true)
           <fieldset>
               <legend>Kunde</legend>
             <div>
               @Html.LabelFor(model => model.Epost, "Epost")
             </div>
             <div>
               @Html.EditorFor(model => model.Epost)
               @Html.ValidationMessageFor(model => model.Epost)
             </div>
               <div>
                    @Html.LabelFor(model => model.Navn, "BrukeNavn")
               </div>
               <div>
                   @Html.EditorFor(model => model.Navn)
                   @Html.ValidationMessageFor(model => model.Navn)
               </div>
            
                <div>       
                  <label for="password">Password</label>
               </div>
               <div>
                 <input type="password" name="pass" required />
                   @ViewBag.pass
                  
               </div>
             <div>
               <label for="password">Password confirm</label>
             </div>
             <div>
               <input type="password" name="pass" required />
               @ViewBag.pass

             </div>
               <input type="submit" value="Register" />
        </fieldset>
        }
    </div>
       @ViewBag.registrationConfirmation
   
