@model webshop.Models.bruker
@{

}

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Logg inn</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Navn)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Navn)
                @Html.ValidationMessageFor(model => model.Navn)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Passord)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Passord)
                @Html.ValidationMessageFor(model => model.Passord)
            </div>
            <p>
                <input type="submit" value="Logg inn" />
            </p>
        @if (ViewBag.LoggetInn)
        {
            <p style="color:burlywood">Innlogget</p>
        }
        else
        {
            <p style="color:chartreuse">Ikke innlogget</p>
        }
        </fieldset>

    }

    <div>
        @Html.ActionLink("Tilbake til Lista", "Index")<br/>
        @Html.ActionLink("Registrer deg som bruker", "Registrer")<br />
        @Html.ActionLink("Minside", "InnLoggetSide")<br />
    </div>