@model IEnumerable<webshop.Models.CartItem>
<p>
  <a href="/Store/Index">Back to shop</a>
</p>
<h2>Cart</h2>
<table>
  <tr>
    <th>
     Goods in your Cart:
    </th>
    <th>
      
    </th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        <p>You just bought @item.vare.ProduktNavn for @item.vare.Pris kr</p>
        </td>
      <td>@Html.ActionLink("delete","delete")</td>
</tr>
  }
  <tr><td>Total: @Model.Sum(v => Convert.ToDouble(v.vare.Pris)) Kr</td>
  <td>   @Html.ActionLink("Betalling", "Betalling",
                new { @class = "btn btn-primary" })
</td></tr>
</table>